@font-face {
  font-family: "digital-7";
  src: url("../font/digital-7(mono).ttf") format("truetype");
}
/*------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #233542;
  display: flex;
  flex-direction: column;
}

/*-------------------HEADER-------------------*/
header {
  height: 10rem;
}
header h1 {
  color: rgb(0, 235, 196);
  text-align: center;
  font-size: 3rem;
  font-weight: lighter;
  padding-top: 4rem;
}

/*-------------------MAIN-------------------*/
section {
  height: auto;
}
section .container-proyectos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4rem;
  max-width: 90rem;
  width: 85%;
  margin: 4rem auto;
  height: auto;
}

/*----------------DIV1------------------*/
.div1 {
  color: white;
  border: 1px solid rgb(23, 103, 109);
  border-radius: 1rem;
  height: 40rem;
  box-shadow: 0px 8px 10px -6px rgba(23, 103, 109, 0.493);
  display: flex;
  flex-direction: column;
}
.div1 .nombre-card {
  text-align: center;
  font-size: 1.6rem;
  color: rgb(230, 230, 230);
}

.interior-card-div1 {
  width: 85%;
  height: 75%;
  background-color: rgba(255, 255, 255, 0.041);
  margin: 3rem auto 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.interior-card-div1 .boton-raton {
  background-color: rgb(0, 235, 196);
  width: auto;
  height: 10rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.2s;
}
.interior-card-div1 .boton-raton:active {
  background-color: rgb(255, 255, 255);
}
.interior-card-div1 p {
  font-size: 1.6rem;
  width: 0.5rem;
}

/*----------------DIV2------------------*/
.div2 {
  color: white;
  border: 1px solid rgb(23, 103, 109);
  border-radius: 1rem;
  height: 40rem;
  box-shadow: 0px 8px 10px -6px rgba(23, 103, 109, 0.493);
  display: flex;
  flex-direction: column;
}
.div2 .nombre-card {
  text-align: center;
  font-size: 1.6rem;
  color: rgb(230, 230, 230);
}

.interior-card-div2 {
  width: 85%;
  height: 75%;
  background-color: rgba(255, 255, 255, 0.041);
  margin: 3rem auto 2.5rem;
  position: relative;
}
.interior-card-div2 .reloj-opaco {
  color: rgba(255, 255, 255, 0.11);
  position: absolute;
}
.interior-card-div2 p {
  font-size: 8rem;
  font-family: "digital-7", sans-serif;
  position: absolute;
  top: 35%;
  left: 7%;
  text-shadow: 2px 2px 15px rgba(44, 255, 220, 0.486);
  transition: opacity 0.3s ease-in-out;
}

/*------------------DIV3------------------*/
.div3 {
  color: white;
  border: 1px solid rgb(23, 103, 109);
  border-radius: 1rem;
  height: 40rem;
  box-shadow: 0px 8px 10px -6px rgba(23, 103, 109, 0.493);
  display: flex;
  flex-direction: column;
}
.div3 .nombre-card {
  text-align: center;
  font-size: 1.6rem;
  color: rgb(230, 230, 230);
}

.interior-card-div3 {
  width: 85%;
  height: 75%;
  background-color: rgba(255, 255, 255, 0.041);
  margin: 3rem auto 2.5rem;
}
.interior-card-div3 .container-boton-apariencia {
  width: 20rem;
  height: 8rem;
  background-color: rgb(143, 143, 143);
  margin: 12rem auto;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  position: relative;
}
.interior-card-div3 .container-boton-apariencia .boton-apariencia {
  width: 6.5rem;
  height: 6.5rem;
  border: none;
  border-radius: 5rem;
  background-color: rgb(0, 235, 196);
  cursor: pointer;
  position: absolute;
  left: 0.9rem;
  box-shadow: 3px 7px 17px 1px rgba(0, 0, 0, 0.493);
}
.interior-card-div3 .container-boton-apariencia .boton-apariencia img {
  width: 4rem;
}

/*-------------------FOOTER-------------------*/
footer {
  height: 10rem;
  width: 100%;
}

/*-------------------MEDIA QUERIES-------------------*/
@media (max-width: 850px) {
  section .container-proyectos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  section .container-proyectos .proyecto-div-card {
    width: 40rem;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  section .container-proyectos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  section .container-proyectos .proyecto-div-card {
    width: 30rem;
    margin: 0 auto;
  }
  .interior-card-div2 {
    width: 85%;
    height: 75%;
    background-color: rgba(255, 255, 255, 0.041);
    margin: 3rem auto 2.5rem;
    position: relative;
  }
  .interior-card-div2 p {
    font-size: 6rem;
    font-family: "digital-7", sans-serif;
    position: absolute;
    top: 35%;
    left: 7%;
  }
  .interior-card-div2 .reloj-opaco {
    color: rgba(255, 255, 255, 0.26);
    position: absolute;
  }
}

/*# sourceMappingURL=styles.css.map */
