@font-face {
    font-family: 'digital-7';
    src:
        url('../../../font/digital-7\(mono\).ttf') format('.ttf'),
        url('../../../font/digital-7\(mono\).woff') format('.woff'),
        url('../../../font/digital-7\(mono\).woff2') format('.woff2');
}

html {
    font-size: 62.5%;
}
