@use './variables' as *;
@use 'sass:map';


@mixin tema($modo) {
	$mapa-temas: map.get($temas, $modo);

	background-color: map.get($mapa-temas, $modo, bg-color);
	color: map.get($mapa-temas, $modo, text-color);
}

@mixin flex-col {
	display: flex;
	flex-direction: column;
}

@mixin interior-card {
	width: 85%;
	height: 75%;
	background-color: $card-bg;
	margin: 3rem auto 2.5rem;
}

@mixin exterior-card {
	color: $text-color;
	border: 1px solid $card-border;
	border-radius: 1rem;
	height: 40rem;
	box-shadow: 0px 8px 10px -6px $card-shadow;
}

@mixin nombreCard {
	text-align: center;
	font-size: $font-size;
	color: $text-color;
}

@mixin responsive($breakpoint) {
	@if $breakpoint == desktop {
		@media (min-width: 1200px) {
			@content;
		}
	} @else if $breakpoint == tablet {
		@media (max-width: 850px) {
			@content;
		}
	} @else if $breakpoint == mobile {
		@media (max-width: 500px) {
			@content;
		}
	}
}

// @media (max-width: 850px) {
// 	section {
// 		.container-proyectos {
// 			grid-template-columns: 1fr;
// 			grid-template-rows: repeat(6, 1fr);

// 			.proyecto-div-card {
// 				width: 40rem;
// 				margin: 0 auto;
// 			}
// 		}
// 	}
// }

// @media (max-width: 500px) {
// 	section {
// 		.container-proyectos {
// 			grid-template-columns: 1fr;
// 			grid-template-rows: repeat(6, 1fr);

// 			.proyecto-div-card {
// 				width: 30rem;
// 				margin: 0 auto;
// 			}
// 		}
// 	}

