@use './variables' as *;
@use 'sass:map';

@mixin tema($modo) {
    background-color: map.get(map.get($temas, $modo), 'bg-body');
    color: map.get(map.get($temas, $modo), 'text-color');
}

@mixin flex-col {
display: flex;
flex-direction: column;
}

@mixin flex-col-allCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin interior-card {
    width: 85%;
    height: 75%;
    margin: 3rem auto 2.5rem;
}

@mixin exterior-card {
    color: $text-color;
    border: $card-border;
    border-radius: 1rem;
    height: 40rem;
    box-shadow: $card-shadow;
}

@mixin nombreCard {
    text-align: center;
    font-size: $font-size;
    color: $text-color;
}

@mixin smallButton {
    background-color: $h1;
    border-radius: 0.8rem;
    cursor: pointer;
    font-size: 1.4rem;
    transition: all 0.2s;
    border: none;

    &:hover {
        background-color: $button-hover-color;
        box-shadow: $button-shadow-hover;
    }
    &:active {
        background-color: $active-color;
    }
}