$font-family: "digital-7", sans-serif;
$bg-body: #233542;
$font-size: 1.6rem;
$text-color: #e6e6e6;
$primary-color: #00ebc4;
//$card-shadow: #0000001a;
$card-border: #17676d;
$card-shadow: #17676d7e;
$card-bg: #ffffff0a;
/*-----------------------*/
$card-border-light: #007067;
$card-shadow-light: #007e771a;
$card-bg-light: #b2dfdb;
$text-color-light: #000000;
$primary-color-light: #174f7c;
$bg-body-light: #f0f0f0;

$modo: "dark";
$temas: (
	"dark": (
        "card-border": $card-border,
        "card-shadow": $card-shadow,
        "card-bg": $card-bg,
        "text-color": $text-color,
        "primary-color": $primary-color,
        "bg-body": $bg-body,
	),
    "light": (
        "card-border": $card-border-light,
        "card-shadow": $card-shadow-light,
        "card-bg": $card-bg-light,
        "text-color": $text-color-light,
        "primary-color": $primary-color-light,
        "bg-body": $bg-body-light,
    ),
);
