@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/*----------------DIV GENERAL------------------*/
.div1,
.div2,
.div3,
.div4,
.div5,
.div6 {
    @include exterior-card();
    @include flex-col();
}

/*----------------DIV1------------------*/
.interior-card-div1 {
    @include interior-card();
    @include flex-row();

    p {
        font-size: $font-size;
        width: 0.5rem;
    }
}
/*----------------DIV2------------------*/

.interior-card-div2 {
    @include interior-card();
    position: relative;

    .reloj-opaco {
        color: $opacidad-reloj;
        position: absolute;
    }

    p {
        font-size: 8rem;
        font-family: 'digital-7';
        position: absolute;
        top: 35%;
        left: 10%;
        text-shadow: $shadow-reloj;
        transition: opacity 0.3s ease-in-out;
    }
}

/*------------------DIV3------------------*/

.interior-card-div3 {
    @include interior-card();

    .container-boton-tema {
        width: 55%;
        height: 8rem;
        background-color: $deslizante-interior;
        margin: 12rem auto;
        border-radius: 5rem;
        display: flex;
        align-items: center;
        position: relative;
    }
}

/*------------------DIV4------------------*/
.interior-card-div4 {
    @include interior-card();
    @include flex-col();
    gap: 2rem;
    justify-content: center;
    align-items: center;

    .div-colores {
        height: 65%;
        width: 85%;
        border-radius: 0.4rem;
        background-color: rgb(211, 211, 211);
    }

    .div-colores-button-p {
        @include flex-row();
        width: 85%;
        height: 18%;

        p {
            font-size: 1.4rem;
        }
    }
}
