/*-----------------------*/
.dark body {
  background-color: #233542;
  color: #e6e6e6;
}

.dark h1 {
  color: #00ebc4;
}

.dark .proyecto-div-card {
  background-color: #2b4050;
  border: 1px solid #17676d;
  box-shadow: 0px 8px 10px -6px rgba(23, 103, 109, 0.4941176471);
  color: #e6e6e6;
}

.dark .interior-card-div1,
.dark .interior-card-div2,
.dark .interior-card-div3 {
  background-color: #374c5d;
}

.dark .div1,
.dark .div2,
.dark .div3,
.dark .div4,
.dark .div5,
.dark .div6 {
  color: #e6e6e6;
  border: 1px solid #17676d;
}

.dark .nombre-card {
  color: #e6e6e6;
}

.dark p#reloj {
  text-shadow: 2px 2px 15px rgba(44, 255, 220, 0.4862745098);
}

.dark .interior-card-div2 .reloj-opaco {
  color: rgba(255, 255, 255, 0.1098039216);
}

.light body {
  background-color: #e7eaf1;
  color: #000000;
}

.light h1 {
  color: #1a8585;
}

.light .proyecto-div-card {
  background-color: #c4e2e0;
  border: 1px solid #007067;
  box-shadow: rgba(0, 126, 119, 0.1019607843);
  color: #000000;
}

.light .interior-card-div1,
.light .interior-card-div2,
.light .interior-card-div3 {
  background-color: rgba(255, 255, 255, 0.2980392157);
}

.light .div1,
.light .div2,
.light .div3,
.light .div4,
.light .div5,
.light .div6 {
  color: #000000;
  border: 1px solid #007067;
}

.light .nombre-card {
  color: #000000;
}

.light p#reloj {
  text-shadow: 2px 2px 15px #79c9c2;
  color: #205c60;
}

.light .interior-card-div2 .reloj-opaco {
  color: rgba(0, 0, 0, 0.137254902);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", serif;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #233542;
  color: #e6e6e6;
  transition: background-color 0.3s ease, color 0.3s ease;
  will-change: background-color, color;
}

body.light {
  background-color: #e7eaf1;
  color: #000000;
}

.body.dark {
  background-color: #233542;
  color: #e6e6e6;
}

@font-face {
  font-family: "digital-7";
  src: url("../../../font/digital-7_mono_.woff") format(".woff"), url("../../../font/digital-7(mono).ttf") format("truetype");
}
html {
  font-size: 62.5%;
}

.boton-raton {
  background-color: #00ebc4;
  width: auto;
  height: 10rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.2s;
}
.boton-raton:active {
  background-color: #ffffff;
}

.boton-tema {
  width: 6.5rem;
  height: 6.5rem;
  border: none;
  border-radius: 5rem;
  background-color: #00ebc4;
  cursor: pointer;
  position: absolute;
  left: 0.9rem;
  box-shadow: 3px 7px 17px 1px #233542;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}
.boton-tema img {
  width: 4rem;
  height: 6.5rem;
}

.light .boton-tema {
  transform: translateX(11.7rem);
}

.dark .boton-tema {
  transform: translateX(0);
}

.nombre-card {
  text-align: center;
  font-size: 1.6rem;
  color: #e6e6e6;
}

/*----------------DIV GENERAL------------------*/
.div1,
.div2,
.div3,
.div4,
.div5,
.div6 {
  color: #e6e6e6;
  border: 1px solid #17676d;
  border-radius: 1rem;
  height: 40rem;
  box-shadow: 0px 8px 10px -6px rgba(23, 103, 109, 0.4941176471);
  display: flex;
  flex-direction: column;
}

/*----------------DIV1------------------*/
.interior-card-div1 {
  width: 85%;
  height: 75%;
  margin: 3rem auto 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.interior-card-div1 p {
  font-size: 1.6rem;
  width: 0.5rem;
}

/*----------------DIV2------------------*/
.interior-card-div2 {
  width: 85%;
  height: 75%;
  margin: 3rem auto 2.5rem;
  position: relative;
}
.interior-card-div2 .reloj-opaco {
  color: rgba(255, 255, 255, 0.1098039216);
  position: absolute;
}
.interior-card-div2 p {
  font-size: 8rem;
  font-family: "digital-7";
  position: absolute;
  top: 35%;
  left: 7%;
  text-shadow: 2px 2px 15px rgba(44, 255, 220, 0.4862745098);
  transition: opacity 0.3s ease-in-out;
}

/*------------------DIV3------------------*/
.interior-card-div3 {
  width: 85%;
  height: 75%;
  margin: 3rem auto 2.5rem;
}
.interior-card-div3 .container-boton-tema {
  width: 20rem;
  height: 8rem;
  background-color: #8f8f8f;
  margin: 12rem auto;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  position: relative;
}

footer {
  height: 10rem;
  width: 100%;
}

header {
  height: 10rem;
}
header h1 {
  color: #00ebc4;
  text-align: center;
  font-size: 3rem;
  font-weight: lighter;
  padding-top: 4rem;
}

section {
  height: auto;
}
section .container-proyectos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4rem;
  max-width: 90rem;
  width: 85%;
  margin: 4rem auto;
  height: auto;
}

/*# sourceMappingURL=styles.css.map */
